:root {
    --bg: #0b1529;
    --bgSoft: #121f3a;
    --text: #ffffff;
    --textSoft: #c1c1c1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color: var(--bg);
    color: var(--text);
}
a {
    color: inherit;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    min-height: 100vh;
    background-color: var(--bgSoft);
    display: flex;
    flex-direction: column;
    justify-content: space-between
}